.para{
    width: 800px;
    height: 400px;
    margin-top: 50px;
}
.para2{
    width: 800px;
    height: 200px;
    margin-top: 20px;
}
.para3{
    width: 800px;
    height: 400px;
    margin-top: 20px;

}
.para4{
    width: 800px;
    height: 200px;
    margin-top: 20px;

}