.nav{
    display: flex;
    flex-direction: row;
    width: 1fr;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #07090b;
    z-index: 100;
    
}
.Signup{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: 0.20s;
    cursor: pointer;
}
.Signup:hover{
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: white;
    color: white;
}
.link{
    text-decoration: none; 
    color: white;
}
.link:hover{
    color: gray;
}

.div-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    column-gap: 60px;
    top: 100px;
    height: 500px;

}
.div_inside_div{
    width: 400px;
    position: relative;
    display: flex;
    bottom: 60px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.JOIN{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: #07090b;
    color: white;
    font-size: 15px;
    font-family: arial;
    transition: 0.20s;
}
.JOIN:hover{
    background-color: white;
    color: black;
}
.img{
    width: 700px;
    height: 500px;
}
.div-top{
    display: grid;
    background-color: rgb(255, 255, 255);
    height: 250px;
    border-radius: 40px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: 1fr ;
}
.div-inside-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 130px;
    column-gap: 20px;
    
}
.logo{
    width: 150px;
}
.div-77{
    display: grid;
    grid-template-columns: 1fr 540px;
    column-gap: 40px;
    height: 450px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}
.days{
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: #07090b;
    color: white;
    transition: 0.20s;
}
.days:hover{
    background-color: white;
    color: #07090b;
}
.smile{
    width: 300px;
    border-radius: 20px;
}
.smiles{
    position: absolute;
    left: -30px;
    width: 300px;
    border-radius: 20px;
    bottom: -100px;
}
.div-grid{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    margin-left: 50px;
    margin-top: 300px;
    column-gap: 20px;
    row-gap: 20px;
}
.image-inside-div{
    width: 270px;
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 20px;
}
.para-in-div{
    width: 270px;
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    
    
}

