.nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #07090b;
    z-index: 100;
    
}
.Signup{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: 0.20s;
    cursor: pointer;
}
.Signup:hover{
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: white;
    color: white;
}
.link{
    text-decoration: none; 
    color: white;
}
.link:hover{
    color: gray;
}

.div-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    column-gap: 60px;
    top: 100px;
    height: 500px;

}
.div_inside_div{
    width: 400px;
    position: relative;
    display: flex;
    bottom: 60px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.JOIN{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: #07090b;
    color: white;
    font-size: 15px;
    font-family: arial;
    transition: 0.20s;
}
.JOIN:hover{
    background-color: white;
    color: black;
}
.img{
    width: 700px;
    height: 500px;
}
.div-top{
    display: grid;
    background-color: rgb(255, 255, 255);
    height: 250px;
    border-radius: 40px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: 1fr ;
}
.div-inside-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 130px;
    column-gap: 20px;
    
}
.logo{
    width: 150px;
}
.div-77{
    display: grid;
    grid-template-columns: 1fr 540px;
    column-gap: 40px;
    height: 450px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}
.days{
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: #07090b;
    color: white;
    transition: 0.20s;
}
.days:hover{
    background-color: white;
    color: #07090b;
}
.smile{
    width: 300px;
    border-radius: 20px;
}
.smiles{
    position: absolute;
    left: -30px;
    width: 300px;
    border-radius: 20px;
    bottom: -100px;
}
.div-grid{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    margin-left: 50px;
    margin-top: 300px;
    column-gap: 20px;
    row-gap: 20px;
}
.image-inside-div{
    width: 270px;
    height: 160px;
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 20px;
}
.para-in-div{
    width: 270px;
    position: relative;
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
}
.tool-tip{
    position: absolute;
    height: 140px;
    width: 250px;
    background-color: #07090b;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    z-index: 100;
    right: -100px;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.20s;
    pointer-events: none;
}
.para-in-div:hover .tool-tip{
    opacity: 100;
}
.para-in-tool-tip{
    width: 250px;
    height: 40px;
}
.paras-in-tool-tip{
    width: 250px;
    position: relative;
    bottom: 20px;
    height: 80px;
}
.feedback{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-left: 50px;
    margin-top: 400px;
    margin-right: 50px;
    column-gap: 20px;
    row-gap: 20px;
    position: relative;
    margin-bottom: 100px;
}
.div_in_feedback{
    height: 240px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: #07090b;
}
.feedback_img{
    width: 80px;
    border-radius: 40px;
    height: 80px;
    margin-left: 10px;
}
.pricing{
    
    display: flex;
    position: relative;
    column-gap: 20px;
    justify-content: center;
    height: 1300px;
}
.access{
    display: flex;
    flex-direction: row;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    width: 245px;
    margin-left: 8px;
    margin-top: 20px;
    height: 100px;
}
.access_more{
    display: flex;
    flex-direction: row;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    width: 245px;
    margin-left: 8px;
    margin-top: 20px;
    height: 130px;

}
.div_access{
    
    width: 50px;
    height: 100px;
}
.div_access_more{
    width: 50px;
    height: 120px;
    
}
.more_div_access{
    
    height: 100px;
    width: 200px;
}
.more_div_access_more{
    height: 120px;
    width: 200px;
}

.tick2{
    width: 30px;
    margin-left: 9px;
    margin-top: 15px;
}
.access_para{
    color: white;
    font-family: arial;
    
}
.Plus{
    background-color: lightpink;
    height: 1000px;
    width: 300px;
    display: grid;
    row-gap: 5px;
    grid-template-columns: 1fr;
    margin-top: 300px;
}
.span{
    color: white;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    margin-left: 45px;
}
.free{
    margin-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: white;
    transition: 0.20s;
}
.free:hover{
    background-color: #07090b;
    color: white;
    border-style: solid;
    border-width: thin;
    border-color: white;
}
.everything{
    width: 240px;
    margin-left: 10px;
    height: 70px;
}
.footer{
    display: grid;
    grid-template-columns: 300px 300px 300px 400px;
    column-gap: 10px;
    height: 600px;
    
}
.left{
    width: 400px;
}