.nav{
    display: flex;
    flex-direction: row;
    width: 1fr;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #07090b;
    z-index: 100;
    
}
.Signup{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: 0.20s;
    cursor: pointer;
}
.Signup:hover{
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: white;
    color: white;
}
.link{
    text-decoration: none; 
    color: white;
}
.link:hover{
    color: gray;
}
.div-img{
    background-color: white;
    width: 600px;
    height: 500px;
    position: absolute;
    right: 100px;
    top: 100px;
    border-radius: 40px;
    
}
.img{
    width: 700px;
    height: 500px;
    border-radius: 30px;
    
}

